# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python/
venv/
.venv/

# Environment files
.env
.env*
!.env.MTM4Nzk3ODQ0NDEzMzg5MjE0Nw.GPkA5y.eJh9NWROMF-Z_3iTKv45oTmSt0hyvS-0mig4Ek
secrets/

# Discord configs
config.json
token.json

# IDE files
.vscode/
.idea/
